.blog__page {
    position: relative;
    height: auto;
    z-index: 2;
    width: 100%;
    margin: 0 auto 12%;
    text-align: center;
    .marquee {
        top: 4%;
        @media screen and (max-width: 1400px) {
            top: 5%;
        }
        @media screen and (max-width: 1199px) {
            top: 5%;
        }
        @media screen and (max-width: 991px) {
            top: 4%;
        }
    }
    p {
        font-size: 18px;
        line-height: 25px;
        color: var(--color-black);
        font-weight: 300;
        text-align: left;
        padding-right: 30px;
    }
    .common-style {
        z-index: 4;
        text-align: left;
        span {
            font-size: 36px;
            line-height: 25px;
            font-weight: 700;
            color: var(--color-black);
            font-family: var(--font-primary);
            margin-bottom: 18px;
            text-transform: uppercase;
            text-align: left;
            display: flex;
            @media screen and (max-width: 1400px) {
                font-size: 18px;
            }
            @media screen and (max-width: 1299px) {
                font-size: 16px;
            }
            @media screen and (max-width: 575px) {
                margin-bottom: 1rem;
            }
        }
        h3 {
            font-size: 80px;
            line-height: 98px;
            font-weight: 700;
            color: var(--color-black);
            font-family: var(--font-pupcat);
            margin-bottom: 0;
            text-transform: uppercase;
            text-align: left;
            width: 95%;
            @media screen and (max-width: 1400px) {
                font-size: 28px;
                line-height: 38px;
            }
            @media screen and (max-width: 1299px) {
                font-size: 26px;
                line-height: 36px;
            }
        }
    }
    .blog__head {
        margin-bottom: 44px;
        &-content {
            width: 100%;
            display: block;
            padding-top: 55px;
        }
    }
    .blog-wrapper {
        h3 {
            font-size: 24px;
            line-height: 25px;
            margin-bottom: 24px;
            font-weight: 700;
            color: var(--color-black);
            width: 100%;
            text-align: left;
        }
        p {
            margin-bottom: 36px;
        }
        p.lead {
            padding-left: 44px;
            padding-top: 55px;
            @media (max-width: 1024px) {
                padding-left: 0;
                padding-top: 0;
            }
        }
        p.lead-right {
            padding-right: 44px;
            padding-top: 55px;
            @media (max-width: 1024px) {
                padding-right: 0;
                padding-top: 0;
            }
        }
    }
    .blog__img {
        width: 100%;
        display: block;
        margin-bottom: 36px;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .blog__video {
        position: relative;
        width: 100%;
        padding: 0;
        margin-bottom: 36px;
        img {
            position: relative;
            width: 100%;
            height: auto;
        }
        a.video-link {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            img {
                max-width: 145px;
                height: auto;
                @media (max-width: 768px) {
                    max-width: 110px;
                }
                @media (max-width: 575px) {
                    max-width: 60px;
                }
            }
        }
    }
    .blog-card {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
        .blog-card-img {
            display: block;
            width: 100%;
            margin-bottom: 37px;
            img {
                width: 100%;
            }
        }
        .blog-card-content {
            .common-style {
                z-index: 4;
                text-align: left;
                p {
                    font-size: 16px;
                    line-height: 25px;
                    width: 85%;
                    @media screen and (max-width: 1199px) {
                        width: 100%;
                    }
                }
                a {
                    margin-top: 59px;
                }
                span {
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: 700;
                    color: var(--color-black);
                    font-family: var(--font-primary);
                    margin-bottom: 25px;
                    text-transform: uppercase;
                    text-align: left;
                    display: flex;
                    @media screen and (max-width: 1400px) {
                        font-size: 18px;
                    }
                    @media screen and (max-width: 1299px) {
                        font-size: 16px;
                    }
                    @media screen and (max-width: 575px) {
                        margin-bottom: 1rem;
                    }
                }
                h3 {
                    font-size: 36px;
                    line-height: 44px;
                    font-weight: 700;
                    color: var(--color-black);
                    font-family: var(--font-pupcat);
                    margin-bottom: 28px;
                    text-transform: uppercase;
                    text-align: left;
                    width: 95%;
                    @media screen and (max-width: 1400px) {
                        font-size: 28px;
                        line-height: 38px;
                    }
                    @media screen and (max-width: 1299px) {
                        font-size: 26px;
                        line-height: 36px;
                    }
                }
            }
        }
        &:hover,
        &:focus {
            .blog-card-content {
                .common-style {
                    span {
                        color: var(--color-primary);
                    }
                    h3 {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}