.header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 7.55% 0;
 @media screen and (max-width: 1699px) {
    padding: 8px 7.55% 0;
  }
  @media screen and (max-width: 991px) {
    padding: 8px 16px 0;
  }
  z-index: 9;
  &::before {
    content: "";
    background: url(../images/manu-bg.png) no-repeat top right / 100%;
    width: 581px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @media screen and (max-width: 1680px) {
      width: 401px;
      height: 240px;
    }
    @media screen and (max-width: 767px) {
      width: 300px;
      height: 180.86px;
    }
    @media screen and (max-width: 575px)  {
      width: 250px;
    height: 150.75px;
    }
  }
  .hambergur {
    width: 105px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    div {
      width: 25px;
      height: 2px;
      border: 1px solid var(--color-white);
      margin-bottom: 5px;
      border-radius: 5px;
      z-index: 9;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .fullscreen {
    clip-path: circle(0% at 96.5% 4%);
    position: absolute;
    background: #e50019;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0.5s cubic-bezier(0.23, 0.93, 0.23, 0.93);
    z-index: 1;
    overflow: hidden;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      width: 30%;
      margin: 0 auto;
      @media screen and (max-width: 991px) {
        width: 50%;
      }
      @media screen and (max-width: 575px) {
        width: 80%;
      }
      li {
        padding: 0;
        text-align: left;
        margin-right: auto;
        position: relative;
        width: 100%;
        a {
          font-size: 36px;
          line-height: 48px;
          font-weight: 700;
          color: rgba(var(--color-white-rgb), 0.5);
          background-color: transparent;
          font-family: var(--font-pupcat);
          text-transform: uppercase;
          text-align: left;
          padding: 1rem 1rem;
          background: #e50019;
          display: flex;
          width: -webkit-fit-content;
          width: fit-content;
         @media screen and (max-width: 1699px) {
            font-size: 28px;
            line-height: 38px;
            padding: 0.5rem;
          }
          @media screen and (max-width: 1299px) {
            font-size: 26px;
            line-height: 36px;
          }
          &:hover,
          &:focus {
            color: rgba(var(--color-white-rgb), 1);
            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 1rem;
              background: rgba(var(--color-white-rgb), 1);
              height: 3px;
              width: 100%;
              z-index: -1;
            }
          }
        }
        &.active {
          a {
            color: rgba(var(--color-white-rgb), 1);
            &:hover,
            &:focus {
              color: rgba(var(--color-white-rgb), 1);
            }
            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 1rem;
              background: rgba(var(--color-white-rgb), 1);
              height: 3px;
              width: 100%;
              z-index: -1;
            }
          }
        }
      }
    }

    .close {
      position: absolute;
      top: 52px;
      right: 8%;
      width: auto;
      z-index: 3;
      opacity: 1 !important;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-weight: 400 !important;
      text-shadow: none;
     @media screen and (max-width: 1699px) {
        top: 33px;
      }
      @media screen and (max-width: 991px) {
        right: 30px;
      }
      @media screen and (max-width: 575px) {
        top: 22px;
      }
      span {
        padding: 0;
        margin: 0;
        &.menu-text {
          font-weight: 400 !important;
          position: relative;
          top: -4.5px;
          margin-right: 28px;
        }
        &:last-child {
          transform: rotate(45deg);
        }
      }
      div {
        width: 25px;
        height: 25px;
        overflow: hidden;
        opacity: 1 !important;
        &:before,
        &:after {
          content: "";
          width: 25px;
          height: 2px;
          border: 1px solid var(--color-white);
          position: absolute;
          border-radius: 5px;
          opacity: 1 !important;
        }

        &:after {
          transform: rotate(90deg);
          background: var(--color-white);
        }
      }
    }

    &.active {
      clip-path: circle(140% at 96.5% 4%);
      transition: all 0.7s cubic-bezier(0.23, 0.93, 0.23, 0.93);

      ul > li {
        animation: animateIn 360ms ease-in-out
          calc(var(--animation-order) * 100ms) both;
        &:nth-child(1) {
          --animation-order: 1;
        }
        &:nth-child(2) {
          --animation-order: 2;
        }
        &:nth-child(3) {
          --animation-order: 3;
        }
        &:nth-child(4) {
          --animation-order: 4;
        }
        &:nth-child(5) {
          --animation-order: 5;
        }
        &:nth-child(6) {
          --animation-order: 6;
        }
        &:nth-child(7) {
          --animation-order: 7;
        }
        &:nth-child(8) {
          --animation-order: 8;
        }
      }
    }

    &.reverse_anim {
      clip-path: circle(0% at 96.5% 4%);
      opacity: 0.6;
      transition: all 0.4s cubic-bezier(0.23, 0.93, 0.23, 0.93);
    }
  }
  .menu-text {
    font-size: 16px;
    line-height: 25px;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--font-primary);
    margin-right: 35px;
   @media screen and (max-width: 1699px) {
      font-size: 15px;
    }
   @media screen and (max-width: 1699px) {
      font-size: 14px;
    }
  }
  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: translateX(10px) rotate(2deg);
    }

    100% {
      opacity: 1;
    }
  }
  .logo a {
    height: 88px;
    display: block;
   @media screen and (max-width: 1699px) {
      height: auto;
      width: 75%;
    }
    @media screen and (max-width: 575px) {
      width: 50%;
    }
    img {
      height: 100%;
     @media screen and (max-width: 1699px) {
        width: 100%;
      }
    }
  }
}
