/node_modules
/public/hot
/public/storage
/public/property_img
/public/tmp
/public/RETS
/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/tmp

/nbproject/private/
composer.lock
public/files/7ws2.png
public/files/7ws3.png

public/uploads/users/5d5c6a76d272488bb97788020bb4cf88
public/uploads/users/032b2cc936860b03048302d991c3498f
public/uploads/users/d5fae34f0e93dd539a7d3c43d6740169
public/uploads/users/default-user
public/uploads/users/f99687dd719c4e8bc6a39e946c3d9ef7
public/uploads/users/1/fac4ef5554f69012fe38d2f1d4e245a6
public/uploads/users/2/18e2999891374a475d0687ca9f989d83
public/uploads/users/2/f99687dd719c4e8bc6a39e946c3d9ef7
public/uploads/tmp/
public/uploads/tasks/
public/uploads/users/