// @font-face {
//     font-family: 'Pupcat';
//     src: url('../fonts/pupcat/PupcatRg-Bold.eot');
//     src: url('../fonts/pupcat/PupcatRg-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/pupcat/PupcatRg-Bold.woff2') format('woff2'),
//         url('../fonts/pupcat/PupcatRg-Bold.woff') format('woff'),
//         url('../fonts/pupcat/PupcatRg-Bold.ttf') format('truetype'),
//         url('../fonts/pupcat/PupcatRg-Bold.svg#PupcatRg-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'Pupcat';
    src: url('../fonts/pupcat/Pupcat.eot');
    src: url('../fonts/pupcat/Pupcat.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pupcat/Pupcat.woff2') format('woff2'),
        url('../fonts/pupcat/Pupcat.woff') format('woff'),
        url('../fonts/pupcat/Pupcat.ttf') format('truetype'),
        url('../fonts/pupcat/Pupcat.svg#Pupcat') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mallory';
    src: url('../fonts/mallory/Mallory-Ultra.eot');
    src: url('../fonts/mallory/Mallory-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mallory/Mallory-Ultra.woff2') format('woff2'),
        url('../fonts/mallory/Mallory-Ultra.woff') format('woff'),
        url('../fonts/mallory/Mallory-Ultra.ttf') format('truetype'),
        url('../fonts/mallory/Mallory-Ultra.svg#Mallory-Ultra') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Mallory';
    src: url('../fonts/mallory/Mallory-Bold.eot');
    src: url('../fonts/mallory/Mallory-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mallory/Mallory-Bold.woff2') format('woff2'),
        url('../fonts/mallory/Mallory-Bold.woff') format('woff'),
        url('../fonts/mallory/Mallory-Bold.ttf') format('truetype'),
        url('../fonts/mallory/Mallory-Bold.svg#Mallory-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory';
    src: url('../fonts/mallory/Mallory-Medium.eot');
    src: url('../fonts/mallory/Mallory-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mallory/Mallory-Medium.woff2') format('woff2'),
        url('../fonts/mallory/Mallory-Medium.woff') format('woff'),
        url('../fonts/mallory/Mallory-Medium.ttf') format('truetype'),
        url('../fonts/mallory/Mallory-Medium.svg#Mallory-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Mallory';
    src: url('../fonts/mallory/Mallory-Medium.eot');
    src: url('../fonts/mallory/Mallory-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mallory/Mallory-Medium.woff2') format('woff2'),
        url('../fonts/mallory/Mallory-Medium.woff') format('woff'),
        url('../fonts/mallory/Mallory-Medium.ttf') format('truetype'),
        url('../fonts/mallory/Mallory-Medium.svg#Mallory-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Mallory';
    src: url('../fonts/mallory/Mallory-Light.eot');
    src: url('../fonts/mallory/Mallory-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mallory/Mallory-Light.woff2') format('woff2'),
        url('../fonts/mallory/Mallory-Light.woff') format('woff'),
        url('Mallory-Light.ttf') format('truetype'),
        url('../fonts/mallory/Mallory-Light.svg#Mallory-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory';
    src: url('../fonts/mallory/Mallory-Thin.eot');
    src: url('../fonts/mallory/Mallory-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mallory/Mallory-Thin.woff2') format('woff2'),
        url('../fonts/mallory/Mallory-Thin.woff') format('woff'),
        url('../fonts/mallory/Mallory-Thin.ttf') format('truetype'),
        url('../fonts/mallory/Mallory-Thin.svg#Mallory-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

