@font-face {
    font-family: 'Pupcat Rg';
    src: url('PupcatRg-Bold.eot');
    src: url('PupcatRg-Bold.eot?#iefix') format('embedded-opentype'),
        url('PupcatRg-Bold.woff2') format('woff2'),
        url('PupcatRg-Bold.woff') format('woff'),
        url('PupcatRg-Bold.ttf') format('truetype'),
        url('PupcatRg-Bold.svg#PupcatRg-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pupcat';
    src: url('Pupcat.eot');
    src: url('Pupcat.eot?#iefix') format('embedded-opentype'),
        url('Pupcat.woff2') format('woff2'),
        url('Pupcat.woff') format('woff'),
        url('Pupcat.ttf') format('truetype'),
        url('Pupcat.svg#Pupcat') format('svg');
    font-weight: normal;
    font-style: normal;
}

