@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  --color-full-black: #000000;

  --color-primary: #f30a00;
  --color-white-light: #f7f7f7;
  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;
  --color-black: #1a1a1a;
  --color-black-rgb: 26, 26, 26;
  --color-gray: #f3f3f3;
  --font-primary: "Poppins", sans-serif;
  --font-mallory: "Mallory", sans-serif;
  --font-pupcat: "Pupcat", sans-serif;
  --common-spacing: 14.6%;
}
@media screen and (max-width: 991px) {
  body {
    --common-spacing: 16px;
  }
}
